PANDAS - DATAFRAMES PART 3

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Index level 
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
from numpy.random import randn
df = pd.DataFrame(randn(6,2),hier_index,['a','b'])

In [9]:
df

             a         b
G1 1 -1.607492 -0.867366
   2  0.874031  0.638695
   3  0.094363  0.459551
G2 1  1.006718 -1.507040
   2  0.748604  1.097428
   3  0.336521  1.091933

In [11]:
df.loc['G1'].loc[1]

a   -1.607492
b   -0.867366
Name: 1, dtype: float64

In [15]:
df.index.names = ['Groups','Num']

In [16]:
df

                   a         b
Groups Num
G1     1   -1.607492 -0.867366
       2    0.874031  0.638695
       3    0.094363  0.459551
G2     1    1.006718 -1.507040
       2    0.748604  1.097428
       3    0.336521  1.091933

In [18]:
df.loc['G2'].loc[2]['b']

np.float64(1.0974279867185692)

In [19]:
df

                   a         b
Groups Num
G1     1   -1.607492 -0.867366
       2    0.874031  0.638695
       3    0.094363  0.459551
G2     1    1.006718 -1.507040
       2    0.748604  1.097428
       3    0.336521  1.091933

In [23]:
df.loc['G1'].loc[2]['b']

np.float64(0.638694748483732)

In [24]:
#Cross section
df.xs('G1')

            a         b
Num
1   -1.607492 -0.867366
2    0.874031  0.638695
3    0.094363  0.459551

In [25]:
df.xs(1,level='Num')

               a         b
Groups
G1     -1.607492 -0.867366
G2      1.006718 -1.507040